@import "tailwindcss";

@font-face {
  font-family: 'spotfont';
  src: url('./assets/spotfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}